<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MMXEntities" connectionString="metadata=res://*/MMXDataModel.csdl|res://*/MMXDataModel.ssdl|res://*/MMXDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D6MW6641\ESSDBSERVER;initial catalog=MMX;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>