
@if (Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>! [ @Html.ActionLink("Log Off", "LogOff", "Account")
    ]</text>
} else {    
    <text><span>[ </span><a title="LogOnLink" href="/Account/LogOn" id="mmxLogOnActionLink">Log On</a><span> ]</span></text>
}
